<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <title>User form</title>
    </head>
    <body>
        <table border="1">
            <caption th:text="${user.id == null} ? 'Create' : 'Update'"></caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Password</th>
                    <th>Role</th>
                    <th>Birthday</th>
                </tr>
            </thead>
            <tbody>
                <form action="#" th:action="@{/admin/users}" th:object="${user}" method="post">
                    <tr>
                        <td>
                            <div th:text="${user.id}"></div>
                            <input type="hidden" th:field="*{id}"/>
                        </td>
                        <td>
                            <div>
                                <input type="text" th:field="*{username}"/>
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" th:field="*{password}"/>
                            </div>
                        </td>
                        <td>
                            <!--https://www.thymeleaf.org/doc/tutorials/2.1/thymeleafspring.html#dynamic-fields-->
                            <div th:each="role, roleIndex : ${allRoles}">
                                <input type="checkbox" th:value="${role.id}" th:field="*{roles[__${roleIndex.index}__].id}" />
                                <input type="hidden" th:value="${role.name}" th:field="*{roles[__${roleIndex.index}__].name}" />
                                <span th:text="${role.name}"></span>
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="date" th:field="*{birthday}"/>
                            </div>
                        </td>
                        <td>
                            <button type="submit" th:text="${user.id == null} ? 'create' : 'update'"></button>
                        </td>
                    </tr>
                </form>
            </tbody>
        </table>
        <br>
        <div th:include="logout_button.html"></div>
    </body>
</html>