<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>User list</title>
    </head>
    <body>
        <table border="1">
            <caption th:text="Users"></caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Password</th>
                    <th>Role</th>
                    <th>Birthday</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="user:${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.roles}"></td>
                <td th:text="${user.birthday}"></td>
                <td>
                    <button type="submit">
                        <a th:href="@{/admin/users(modifiedUserId=${user.id})}"
                           style="text-decoration: none; color: black">
                            update
                        </a>
                    </button>
                </td>
                <td>
                    <form method="post" action="#" th:action="@{/admin/users/{id}(id=${user.id})}">
                        <button type="submit">delete</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="#" th:action="@{/admin/users}" method="get">
                        <button type="submit">create</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <div th:include="logout_button.html"></div>
    </body>
</html>